<p><%= link_to country_path(@country) do %>
  <span>&larr; <%= @country.name %></span>
<% end %></p>

<h1>Languages spoken in <%= @country.name %></h1>

<table id="languages" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="name">Name</th>
      <th class="percentage_speakers">Percentage speakers</th>
      <th class="is_official">Offical language?</th>
    </tr>
  </thead>
  <tbody>
    <%= render @spoken_languages %>
  </tbody>
</table>
