<% modal_name = 'countries-callout' %>

<%= content_for :nav, @user ? nav_pills('Profile') : nav_pills('Home') %>

<h1><%= @user ? "#{@user.id}’s countries" : 'List of countries' %></h1>
<table id="countries" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="continent">Continent</th>
      <th class="name">Name</th>
      <th class="region">Region</th>
      <th class="surface_area">Surface Area</th>
      <th class="population">Population</th>
      <th class="local_name">Local Name</th>
      <th class="capital">Capital</th>
      <th class="internet_code">Internet Code</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'countries/country', :collection => @countries, :locals => { :modal => modal_name } %>
  </tbody>
</table>

<%= render :partial => 'shared/callout', :object => modal_name %>
