<h1>List of countries</h1>
<table>
  <tr>
    <th>Continent</th>
    <th>Name</th>
    <th>Region</th>
    <th>Surface Area</th>
    <th>Population</th>
    <th>Local Name</th>
    <th>Capital</th>
    <th>Internet Code</th>
  </tr>
  <%= render @countries %>
</table>
