<p>&larr; <%= link_to 'Back to countries', countries_path %></p>
<h1><%= @country.name %></h1>
<% @country.attributes.each do |attr| %>
  <%= render :partial => 'shared/attribute', :object => attr %>
<% end %>
