h1 {
    margin-bottom: 40px;
}

#countries tr {
    cursor: pointer;
}

#countries td.highlighted {
    background-color: #deecfe;
    text-decoration: underline;
}

.attribute {
    font-weight: bold;
}
